# Игнорировать зависимости
node_modules/

# Игнорировать сборку (опционально, так как у вас build в vite.config.js)
build/

# Игнорировать файлы кэша Vite (опционально)
.vite/

# Игнорировать файлы конфигурации IDE (опционально)
.vscode/