.fullWidthWrapper {
  padding-left: 0;
  padding-right: 0;
}

.formItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.dateInputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #232324;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  box-sizing: border-box;
}

.customSelect {
  width: 100%;
  border-radius: 8px;
border: 0.5px solid var(--Dark-Stroke-Separator-Primary, #363738);
}

.act {
    transform: rotate(180deg);
}

.dateText {
color: var(--Dark-Text-Muted, #C4C8CC);
font-feature-settings: 'liga' off, 'clig' off;
font-family: "VK Sans Display";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.1px;
}

.calendarIcon {
  color: #909499;
}

.popout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-10px);
  transition: 
    opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;
  pointer-events: none;
}

.popout.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.popout-content {
  background: #232324;
  border-radius: 16px;
  padding: 24px 16px 16px 16px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeControls {
  display: flex;
   width: clamp(300px, 80vw, 500px);
  gap: 8px;
  margin-top: 8px;
}

.btn {
  width: clamp(300px, 80vw, 500px);
  padding: 12px 0;
  margin-top: 8px;
  background-color: #FFFFFF;       /* белый фон */
  color: #232324;                  /* тёмный текст */
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: "VK Sans Display", sans-serif;
  border: none;
  border-radius: 12px;             /* скругление под стиль попапа */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 
    background-color 0.2s ease-in-out,
    transform 0.1s ease-in-out;
}

.btn:hover {
  background-color: #F0F0F0;     
}

.btn:active {
  transform: scale(0.98);          
}

.calendar {
   width: clamp(300px, 80vw, 500px);
}
